<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="../static/css/styles2.css" />
</head>
<script>
  function myFunction() {
    window.location.href = "game.html";
  }
</script>
<script>
  function myFunction1() {
    window.location.href = "ttt.html";
  }
</script>
<script>
  function myFunction2() {
    window.location.href = "index1.html";
  }
</script>
<script>
  function myFunction3() {
    window.location.href = "login.html";
  }
</script>
  <body >

  <div >
      <video id="bg-video" autoplay muted loop>
          <source src="../static/images/video.mp4" type="video/mp4">
        </video>
   <header> <h>Mathematical problem to Picture !</h></header>
   <div class="mascot_game">
    <img src="../static/images/Mascot.png" width="120" height="200" position="absolute">
  </div>     
    <br>
    
    <div class="sidebar">
      <div class="logo-details">
        <i class='bx bxl-c-plus-plus icon'></i>
          <div class="logo_name">M4PI</div>
          <i class='bx bx-menu' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
            <i class='bx bx-search' ></i>
           <input type="text" placeholder="Search...">
           <span class="tooltip">Search</span>
        </li>
        <li>
          <form method="POST" action="{% url 'Tik_Tac_Toe' %}">
            {% csrf_token %}
            <a>
              
              <button name="Tik_Tac_Toe" style="background: transparent; border-color: transparent;" >
                <i class='bx bx-joystick' ></i></button>
              <span class="links_name">Tik Tac Toe</span>
            </a>
            <span class="tooltip">Tik Tac Toe</span>
          </form>
        </li>
        <li>
          <form method="POST" action="{% url 'MathQuiz' %}">
            {% csrf_token %}
            <a>            
              <button name="MathQuiz" style="background: transparent; border-color: transparent;" >
                <i class='bx bx-dice-5'  ></i>
              </button>
              <span class="links_name">MathQuiz</span>
              </a>
            <span class="tooltip">MathQuiz</span>
          </form>
       </li>
       <li>
        <form method="POST" action="{% url 'RockPaperScissors' %}">
          {% csrf_token %}
          <a>            
            <button name="MathQuiz" style="background: transparent; border-color: transparent;" >
              <i class='bx bx-joystick' ></i>

            </button>
            <span class="links_name">Rock Paper Scissors</span>
          </a>
          <span class="tooltip">Rock Paper Scissors</span>
        </form>
     </li>

         <a href="#">
           <i class='bx bx-palette' ></i>
           <span class="links_name">Paint</span>
         </a>
         <span class="tooltip">Paint</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-folder' ></i>
           <span class="links_name">File Manager</span>
         </a>
         <span class="tooltip">Files</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-cart-alt' ></i>
           <span class="links_name">Order</span>
         </a>
         <span class="tooltip">Order</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-heart' ></i>
           <span class="links_name">Saved</span>
         </a>
         <span class="tooltip">Saved</span>
       </li>
       <li>
        <form method="POST" action="{% url 'LogOut' %}">
          {% csrf_token %}
         <a >
          <button name="MathQuiz" style="background: transparent; border-color: transparent;" >

           <i class='bx bx-log-out'></i>
          </button>
           <span class="links_name">Log-Out</span>
         </a>
         <span class="tooltip">Log-Out</span>
        </form>
       </li>
      </ul>
    </div>
    <script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");
  
    closeBtn.addEventListener("click", ()=>{
      sidebar.classList.toggle("open");
      menuBtnChange();//calling the function(optional)
    });
  
    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
      sidebar.classList.toggle("open");
      menuBtnChange(); //calling the function(optional)
    });
  
    // following are the code to change sidebar button(optional)
    function menuBtnChange() {
     if(sidebar.classList.contains("open")){
       closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
     }else {
       closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
     }
    }
    </script>
    
    <div class='wrapper'>
      <div id="dialogue"></div>
      <form method="POST" action="{% url 'calculate' %}">
        {% csrf_token %}
          <p style="position: relative; bottom: 15px;"></p>
          <div class="text-box">
            
              <input type="text" name="problem" id="problem"  placeholder="write ur math problem here !">
              
              
              
              <button class="send-button" >
                  <img src="https://www.svgrepo.com/show/435419/send.svg" width="24px" height="14px" id="plane">
              </button>
    
          </div>
      </form>
      <center>
        <div>
        <button class="microphone-button"  id="microphone-button" >
          <img src="https://www.svgrepo.com/show/476625/micro.svg" width="24px" height="14px" id="micro">
        </button>
        <button class="photo-button" type="button" id="photo-button" onclick="choosePhoto()"> 
          <img src="https://www.svgrepo.com/show/506616/upload.svg" width="24px" height="14px" id="micro">
        </button>
        <input type="file" id="photo-input" onchange="extractText()">
        <button  class="extract-button" onclick="speak()"> 
          <img src="https://www.svgrepo.com/show/487818/speak.svg" width="24px" height="14px" id="micro">
        </button>

        </div>
      </center>
    </div>
  </div>
  
  <script src="../static/js/endpoint.js"></script>





  


</body>