<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Memory Card Game </title>
    <link rel="stylesheet" href="../static/css/memory.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <audio id="my-audio" autoplay >
      <source src="../static/images/MemoryGame.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <video id="bg-video" autoplay muted loop>
      <source src="../static/images/video.mp4" type="video/mp4">
    </video>
    <header> <h>Memory Card Game &#129300</h></header>
    <div class="mascot_game">
      <img src="../static/images/Mascot.png" width="120" height="200" position="absolute">
    </div>  
    <div class="wrapper">
      <ul class="cards">
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-1.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="img-2.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-6.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-3.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-5.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
        <li class="card">
          <div class="view front-view">
            <img src="../static/images/que_icon.svg" alt="icon">
          </div>
          <div class="view back-view">
            <img src="../static/images/img-4.png" alt="card-img">
          </div>
        </li>
      </ul>
    </div>

    <script src="../static/js/memory.js"></script>

  </body>
</html>