<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe - JavaScript</title>
    <link rel="stylesheet" href="../static/css/style4.css">
</head>
<body>
    <video id="bg-video" autoplay muted loop>
        <source src="../static/images/video.mp4" type="video/mp4">
      </video>
      <div class="mascot_game">
        <img src="../static/images/Mascot.png" width="120" height="200" position="absolute">
      </div> 
    <div class="container">
        <canvas id="cvs" width="450" height="450"></canvas>
        <div class="options">
            <h1>Tic Tac Toe</h1>
            
            <h2>Play Versus</h2>
            <div class="computer">COMPUTER</div>
            <div class="friend">FRIEND</div>

            <h2>Symbol</h2>
            <div class="x">X</div>
            <div class="o">O</div>

            <div class="play">PLAY</div>
        </div>
        <div class="gameover hide"></div>
    </div>

    <script src="../static/js/options.js"></script>
    <script src="../static/js/game2.js"></script>
</body>
</html>