<div class="form-froup row">
    <label class="col-sm-2 col-form-label">Teacher ID</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="TeacherId"
        placeholder="Enter Teacher Id">
    </div>
    <label class="col-sm-2 col-form-label">Teacher Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="TeacherName"
        placeholder="Enter Teacher Name">
    </div>
    <label class="col-sm-2 col-form-label">Teacher Photo</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="PhotoFileName"
        placeholder="Enter Teacher Photo">
    </div>
</div>

<button (click)="addTeacher()" *ngIf="tech.TeacherId==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateTeacher()" *ngIf="tech.TeacherId!=0" class="btn btn-primary">
    Update
</button>